/* Body */
body {
  font-size: 16px;  /* sets the base font size to 16 pixels */
  line-height: 1.6;  /* defines the space between lines of text as 1.6 times the font size */
  color: #041E42;  /* sets the text color to Penn State Navy Blue */
  background-color: #FFFFFF;  /* sets the background color to white */
}

/* Header specific styles */
header {
    background-color: #041E42;  /* sets the background color of the header to Penn State Navy Blue */
    color: #FFFFFF;  /* sets the text color to white for contrast */
    padding: 20px 0;  /* adds 20 pixels of padding on the top and bottom */
    text-align: center;  /* centers the text within the header */
}

/* Footer styles */
footer {
    background-color: #041E42;  /* sets the background color of the footer to Penn State Navy Blue */ 
    color: #FFFFFF;  /* sets the text color to white */
    text-align: center;  /* centers the text within the footer */
    padding: 10px 0;  /* adds 10 pixels of padding on the top and bottom */
    position: relative;  /* keeps the footer positioned relative to its normal place */
    bottom: 0;  /* aligns the footer at the bottom */
    width: 100%;  /* ensures the footer spans the entire width of the page */     
}

/* Test */
