/* Body */
body {
  font-size: 16px;  /* Font size of 16 pixels */
  line-height: 1.6;  /* Line height of 1.6 */
  color: #041E42;  /* Penn State Navy Blue Color */
  background-color: #FFFFFF;  /* White Background Color */
}

/* Header specific styles */
header {
    background-color: #041E42;  /* Penn State Navy Blue Color */ 
    color: #FFFFFF;  /* White Background Color */
    padding: 20px 0;  /* 20 pixel padding */
    text-align: center;  /* Text aligns to center */
}

/* Footer styles */
footer {
    background-color: #041E42;  /* sets the background color of the footer to Penn State Navy Blue */ 
    color: #FFFFFF;  /* sets the text color to white */
    text-align: center;  /* centers the text within the footer */
    padding: 10px 0;  /* adds 10 pixels of padding on the top and bottom */
    position: relative;  /* keeps the footer positioned relative to its normal place */
    bottom: 0;  /* aligns the footer at the bottom */
    width: 100%;  /* ensures the footer spans the entire width of the page */
}
